<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">
        		<%= image_tag("profile5.png", class: "profile-image img-responsive pull-left img-circle", :alt => "Jason Ko") %>                       
            <div class="profile-content pull-left">
                <h1 class="name">柯力中 Jason Ko</h1>
                <h2 class="desc">Web App Developer，Android App Developer</h2>   
                <ul class="social list-inline">
                    <li><a href="https://www.facebook.com/kerlichung" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/115035503924395782947/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://github.com/KosbrotherSchool" target="_blank"><i class="fa fa-github"></i></a></li> 
                    <li class="last-item"><a href="https://www.youtube.com/channel/UCNjomqYjxHvz0TmfsgYcqxQ/videos" target="_blank"><i class="fa fa-youtube"></i></a></li>              
                </ul> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="https://mail.google.com/mail/?view=cm&fs=1&to=kosbrotherschool@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>嗨，朋友叫我小柯。10歲的時候想當科學家，18歲的時候想當老師，23歲的時候想當企業家，現在是獨立APP開發者。我的理想是與志同道合的朋友一起工作，成立無國界的軟體公司；夢想是與家人們快樂地過好每一天。<b>我相信人生重要的是過程，持續朝著山頂目標前進，就能擁有一段美好的旅程。</b></p>    
         
                            <p>Hi, I'm Jason. I dreamed of becoming a scientist when I was 10, and dreamed of becoming a teacher when I'm 18, and an entrepreneur when 23. I'm an App Developer now. My ideal is to start a business with like-minded friends by running a broad software company. And my biggest dream is to live happily with family everyday. I believe life is a process, not only the result; as long as we target the top of the mountain and keep going, we all will have a wonderful journey.</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">Android 應用程式快樂學習班</a></h3>
                                <p class="summary" style="color:red">學習一技之長，開發屬於自己的應用程式。</p>
                                <div class="featured-image">
                                    <!-- <a href="" target="_blank"> -->
                                    <%= image_tag("projects/project-featured.png", class: "img-responsive project-image", :alt => "Android 應用程式快樂學習班") %>  
                                    <!-- </a> -->
                                </div>
                                    
                                <div class="desc text-left">                                    
                                    <h5 class="title">目的:</h5>
                                    <p>充分了解 Android 系統的的歷史背景，並開發屬於自己的應用程式。</p>

                                    <br>
                                    <h5 class="title">說明:</h5>
                                    <p>智慧型手機裡面，以 Android 的市佔率最高，並且呈現一家獨大的狀態，<b>每賣出 100 支手機裡面，就有 85 支是 Android 手機</b>。許多公司注意到這個趨勢，也因此 Android 的開發需求越來越多，呈現供不應求的景況。</p>

                                    <p>事實上，除了工作職缺多之外，在國內外也有許多 Android 應用程式的創業者，<b>不但能發展自己喜歡的產品外，也有豐富的報酬</b>，這也是很多獨立開發者或小團隊爭相投入的原因。</p>

                                    <p><b>把學習 Android 當作程式設計的入門也是相當適合的</b>，只是程式設計內涵博大精深，要廣而深的學習就需要付出相當的時間與熱忱，希望藉由「Android 應用程式快樂學習班」可能讓大家找到那份熱情與動力。</p>

                                    <br>
                                    <h5 class="title">上課時間、地點與費用：</h5>
                                    <p>日期：4月20日 至 5月15日</p>
                                    <p>時間：每個禮拜的ㄧ、三、五</p>
                                    <p>&emsp;&emsp;&emsp;晚上7：00 ~ 10:00</p>
                                    <p>地點：台中市西區忠明南路325號3樓之7</p>
                                    <p>費用：<s>原價 $7000</s>，<b>快樂學習價 $3500</b></p>
                                    <p>名額：限15名，需自備電腦</b></p>


                                    <br>
                                    <h5 class="title">課程綱要：</h5>

                                    <br>
                                    <p>4月20日 禮拜一</p>
                                    <p><b>第一堂：入門容易出師難 --- 進入 Android 的世界</b></p>
                                    <p>1. Android 的歷史與市場介紹</p>
                                    <p>2. 舉國內外的開發者故事為例，說明學會 Android 應用開發，可以完成哪些產品</p>
                                    <p>3. 介紹 Android 的開發環境 --- AndroidStudio</p>
                                    <p>4. 在電腦上跑 Andorid 模擬器</p>
                                    <p>5. 第一個 Android 手機程式 --- “Hello World”</p>

                                    <br>
                                    <p>4月22日 禮拜三</p>
                                    <p><b>第二堂：想飛要先會走路 --- 學習基本 JAVA 語法</b></p>
                                    <p>1. Java 型態：String, int, Array</p>
                                    <p>2. Java 判斷：if else, for loop, while loop</p>
                                    <p>3. Java 物件繼承：Inheritance </p>
                                    <p>4. 其他資料格式：JSON, XML</p>

                                    <br>
                                    <p>4月24日 禮拜五</p>
                                    <p><b>第三堂：盤點手邊工具箱 --- 學習 Android 開發工具</b></p>
                                    <p>1. Android 專案內容介紹</p>
                                    <p>2. 介紹 SDK</p>
                                    <p>3. 使用圖形化編輯器</p>
                                    <p>4. 學習如何偵錯 Debug (DDMS)</p>

                                    <br>
                                    <p>4月27日 禮拜一</p>
                                    <p><b>第四堂：小試身手 --- 計算機 APP 和 網站瀏覽 APP</b></p>
                                    <p>1. APP 畫面佈局</p>
                                    <p>2. Button 按鈕</p>
                                    <p>3. 結合程式碼與元件</p>
                                    <p>4. 網站瀏覽 APP</p>

                                    <br>
                                    <p>4月29日 禮拜三</p>
                                    <p><b>第五堂：磨刀不誤砍柴工 --- Youtube 播放 APP 和 食譜 APP</b></p>
                                    <p>1. Activity 的生命週期</p>
                                    <p>2. Intent  的用法</p>
                                    <p>3. 使用 ListView </p>
                                    <p>4. Youtube 播放APP</p>
                                    <p>5. 食譜 APP</p>

                                    <br>
                                    <p>5月1日 禮拜五</p>
                                    <p><b>第六堂：默默的偉大勞工 --- 學習使用 Service</b></p>
                                    <p>1. 使用 Asynctask</p>
                                    <p>2. 使用 Service</p>
                                    <p>3. 自己做鬧鐘 APP</p>

                                    <br>
                                    <p>5月4日 禮拜一</p>
                                    <p><b>第七堂：資料保管如何做 --- 學會 Android 的手機資料存儲</b></p>
                                    <p>1. 使用 SharePrefreance 保存資料</p>
                                    <p>2. 使用 SQLite 保存資料</p>
                                    <p>3. 記事本 APP</p>

                                    <br>
                                    <p>5月6日 禮拜三</p>
                                    <p><b>第八堂：寶石要磨才會亮 --- 介紹 Android 5.0 Lollipop</b></p>
                                    <p>1. 多螢幕的設計精神</p>
                                    <p>2. Android Auto</p>
                                    <p>3. Android Wear</p>
                                    <p>4. 充滿設計感的 Materail Design</p>

                                    <br>
                                    <p>5月8日 禮拜一</p>
                                    <p><b>第九堂：認識好幫手 --- Parse 以及 Google APIs</b></p>
                                    <p>1. 線上資料處理專家 Parse</p>
                                    <p>2. 免費的地圖 Google Map</p>
                                    <p>3. 免費的使用情形數據分析 Google Analytics</p>
                                    <p>4. 個人的雲端資料庫 Google Cloud</p>
                                    <p>* 這堂課之後，學員要構思自己想開發的 APP 內容</p>

                                    <br>
                                    <p>5月11日 禮拜一</p>
                                    <p><b>第十堂：開發之前先拜神 --- Android Developer 官網大神</b></p>
                                    <p>1. Android Developer 官網導讀</p>
                                    <p>2. Sample Code 的學習</p>

                                    <br>
                                    <p>5月13日 禮拜三</p>
                                    <p><b>第十一堂：上架的最後一哩路 --- 學習編譯 Compile 與上架</b></p>
                                    <p>1. 學習 Gradle 編譯</p>
                                    <p>2. 學習上架到 Google Play</p>
                                    <p>3. 認識廣告財主 Google AdMob (並使用)</p>

                                    <br>
                                    <p>5月15日 禮拜五</p>
                                    <p><b>第十二堂：光榮的時刻 --- 學員作品展示</b></p>
                                    <p>1. 學員作品展示</p>
                                    <br>
                                    <p style= "color:brown">P.S 最後一堂課，如果有多的時間，我們分析APP的各種獲利模式：廣告模式，訂閱模式，免費模式，遊戲模式等，是講者幾年來開發的經驗學習，光這課就物超所值囉！</p>

                                    <br>
                                    <h5 class="title">講師介紹:</h5>
                                    <p>柯力中 Jason Ko，2009 成大物理系畢業</p>

                                    <br>
                                    <h5 class="title">經歷介紹:</h5>
                                    <p>2011 年之初創投第四屆入選隊伍。</p>
                                    <p>2011 年至 2015 年，與朋友開發 APP 超過 20 款，下載超過 300 萬人次，多項產品曾列 Google Play 分類排行第一，最高名列 Google Play 不分類排行榜第二。</p>

                                </div><!--//desc-->         
                                <!-- <a class="btn btn-cta-secondary" href=""> -->
                                    <i class="fa fa-thumbs-o-up"></i> 我要報名
                                <!-- </a>                  -->
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->

            </div><!--//primary-->

            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">基本資料</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i>
                                    <span class="sr-only">Location:</span>台灣 , 台中市
                                </li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:kosbrotherschool@gmail.com" target="_blank">kosbrotherschool@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span>教學部落格 </span><a href="http://jasonandroid.blogspot.tw" target="_blank">http://jasonandroid.blogspot.tw</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                熟悉 Android APP 應用程式，以及 Ruby On Rails 的網站開發。
                            </p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Java &amp; Android<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="90%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->                   
                                
                                <div class="item">
                                    <h3 class="level-title">Ruby on Rails
                                        <span class="level-label">Pro</span>
                                    </h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, SASS &amp; LESS
                                        <span class="level-label">Normal</span>
                                    </h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="65%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->

                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> 物理學系學士</h3>
                                <h4 class="university">成功大學 <span class="year">(2004-2008)</span></h4>
                            </div><!--//item-->
                        </div>
                    </div>
                </aside>
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>中文:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Second Language <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                                
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">© 2014 Jason Ko. All Rights Reserved</small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 

